
@{
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Presidentes</title>
</head>
<body>
    <header>
        <img src="~/images/logo-mexico.png" />
        <p><a href="~/Home/Index">Presidentes de la República</a></p>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="footer">
            <p>Programación Web - Unidad 2</p>
            <img class="logo" src="~/images/logo-mexico.png" />
        </div>
    </footer>
</body>
</html>


